* {
    margin: 0;
    padding: 0;
}


#logo {
    display: block;
    margin: auto;
    padding: 20px;
}

h1 {
    font-family: Arial narrow;
    background-color: antiquewhite;
}

h2 {
    text-align: center;
    padding: 20px;
}




.bordeNavBar {
    margin: 60px;

}


#navBar1 ul {
    list-style-type: none;
    padding: 20px;
}

#navBar1 li {
    display: inline-block;
    text-align: center;
    margin: 0 25px 0 0;
}

#navBar1 {
    padding: 2px 7px 2px 7px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}

#navBar1 a {
    text-decoration: none;
    font-family: sans-serif;
}


legend {
    font-size: xx-large;
    margin: 20px;
}

main {
    background-color: blanchedalmond;
    
    

}



h3 {

    font-family: Arial, Helvetica, sans-serif;

}

.containerGrid {
    display:grid;
    grid-template-columns:repeat(4, 1fr); 
	grid-template-rows:repeat(3, 1fr); 
}

#destacado1, h3 {
    background-color: aqua;
    grid-column: 1/2;
    grid-row: 1/2;
}

#destacado1, img {
    grid-column: 1/2 ;
    grid-row: 2/3 ;
    }
    
    #destacado1, p {
    background-color: blue;
    grid-column: 2/3;
    grid-row: 3/4;
    }

#destacado2, h3{
grid-column: 4/5;
grid-row: 1/2;
}

#destacado2, img{

}

#destacado2, p{

}



footer {
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
    padding: 20px;
}

h4 {
    font-family: sans-serif;
}

#links ul {
    list-style: none;
    padding: 8px;


}

#links li {
    padding: 3px;


}

#links a {
    text-decoration: none;
    font-family: sans-serif;
}

#contacto div {
    padding: 7px;
    margin: 8px;
    font-family: sans-serif;
}

#social ul {
    list-style-type: none;
    padding: 8px;
    font-family: sans-serif;
}

#social li {
    padding: 3px;

}